%table#edittable{width: '100%'}
  %thead  
    %tr
      %th{width:'4%'} ID
      %th column1
      %th column2
      %th column3
      %th column4
      %th column5
      %th column6
      %th column7
      %th column8
      %th column9
  %tbody
    %tr{height: 38} 
      %td#edid= @id
      %td#ed1= @data.col1
      %td#ed2= @data.col2
      %td#ed3= @data.col3
      %td#ed4= @data.col4
      %td#ed5= @data.col5
      %td#ed6= @data.col6
      %td#ed7= @data.col7
      %td#ed8= @data.col8
      %td#ed9= @data.col9